{% extends "todo_app/base.html" %}
{% block content %}
  <div class="container delete-container">
      <form action="" method = "POST">
          {% csrf_token %}
      <h2 class = "delete-header">Are you sure you want to delete the task ({{task.work}})?</h2>
      <button type = "submit" class = "yes update"><i class = "fas fa-check"></i>  Yes</button>
      <a href = "{% url 'list' %}" class = "no trash"><i class = "fas fa-times"></i>  No</a>
      </form>  
  </div>
{% endblock content %}